services:
  backend:
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env
    volumes:
      - ./static/:/app/static/
      - ./download/:/app/download/
      - ./logs/:/app/logs/
      - ./db/:/app/db/
    entrypoint: bash
    command: >
      -c '
      set -e
      
      mkdir -p /app/db /app/logs /app/static/article /app/static/image/photo /app/static/image/pfps /app/static/download;
      chown -R nonroot:nonroot /app/db /app/logs /app/static || true;
      chmod -R u+rwX /app/db /app/logs /app/static;

      chmod a+rwX /app/script/init_db/*.sh;

      su - nonroot

      echo "Checking DB at /app/${SQLITE_FILENAME}";

      if [ ! -f "/app/${SQLITE_FILENAME}" ]; then
        echo "Database was not found. Initializing...";
        /app/script/init_db/index.sh "/app/${SQLITE_FILENAME}";
      else
        echo "Database already exists. Skipping initialization.";
      fi;

      exec fastapi run main.py --host 0.0.0.0 --port 8080
      '
    develop: 
      watch: 
        - action: sync
          path: .
          target: /app

        - action: rebuild
          path: ./Dockerfile

        - action: rebuild
          path: ./uv.lock

        - action: rebuild
          path: ./script/init_db
