services:
  backend:
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env
    volumes:
      - ./static/:/app/static/
      - ./logs/:/app/logs/
    depends_on:
      db:
        condition: service_healthy
      flyway:
        condition: service_completed_successfully
    networks:
      - app-net
    entrypoint: bash
    command: >
      -c '
      set -e

      mkdir -p  /app/logs /app/static/article /app/static/image/photo /app/static/image/pfps /app/static/download /app/static/w;
      chown -R nonroot:nonroot  /app/logs /app/static || true;
      chmod -R u+rwX  /app/logs /app/static;

      exec fastapi run main.py --host 0.0.0.0 --port 8080;
      '
    develop:
      watch:
        - action: sync
          path: .
          target: /app

        - action: rebuild
          path: ./Dockerfile

        - action: rebuild
          path: ./uv.lock

        - action: rebuild
          path: ./script/migrations

  db:
    image: postgres:17-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME:-main_db}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/db_admin_password
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - app-net
    secrets:
      - db_admin_password

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD_FILE: /run/secrets/db_admin_password
    ports:
      - "8085:80"
    depends_on:
      - db
    networks:
      - app-net
    secrets:
      - db_admin_password

  flyway:
    image: flyway/flyway:latest-alpine
    volumes:
      - ./script/migrations:/flyway/sql
      - ./flyway.conf:/flyway/conf/flyway.conf
    command: -configFiles=/flyway/conf/flyway.conf migrate
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-net

networks:
  app-net:

secrets:
  db_admin_password:
    file: .db_admin_password
